@font-face {
  font-family: "Press Start 2P";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/pressstart2p/v15/e3t4euO8T-267oIAQAu6jDQyK3nVivM.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF,  U + FFFD;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Press Start 2P", sans-serif;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 0.5rem;
}
body {
  background-image: url(/css/fondo3.jpg);
  background-size: cover;
  backdrop-filter: blur(5px);
}
li {
  list-style: none;
}
.hide-start-btn,
.hide {
  opacity: 0;
}
.game-start-btn {
  background-color: #0026fc;
  color: rgb(251, 255, 0);
  border: none;
  padding: 10px 60px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-family: "Press Start 2P";
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s, box-shadow 0.2s;
  margin-top: 20px;
  margin-bottom: 20px;
  animation: comenzarConBrillo 4s linear infinite;
}

@keyframes comenzarConBrillo {
  20% {
    box-shadow: 0 0 20px #ff0000, 0 0 20px #ffea00, 0 0 30px #2600ff;
  }
  50% {
    box-shadow: none;
  }
  100% {
    box-shadow: 0 0 120px #ff0000, 0 0 20px #ffea00, 0 0 30px #1e00ff;
  }
}

.game-return-btn,
.replay {
  background-color: #0026fc;
  color: rgb(251, 255, 0);
  border: none;
  padding: 10px 60px;
  border-radius: 5px;
  cursor: pointer;
<<<<<<< HEAD
  font-size: 15px;
=======
  font-size: 13px;
>>>>>>> 6b70d25b7152577a5094f9f59244731ab23a6630
  font-family: "Press Start 2P";
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s, box-shadow 0.2s;
  margin-left: 25px;
  margin-right: 25px;
  /* color: rgb(0, 0, 163);
  width: 150px;
  border: 1px solid #e4d9ff;
  border-radius: 50px;
  padding: 0.5rem;
  transition: all 0.3s;
  background: linear-gradient(rgb(230, 246, 250), gray); */
}
.game-start-btn:hover,
.game-return-btn:hover,
.replay:hover {
  transform: scale(1.05);
  box-shadow: 5px 5px 10px rgb(253, 253, 253);
  /* transform: translateY(-3px);
  box-shadow: 5px 5px 5px rgba(44, 43, 43, 0.5); */
}
.game-start-btn:focus,
.game-return-btn:focus,
.replay:focus {
  transform: scale(0.95);
  box-shadow: 2px 2px 5px rgb(255, 255, 255);
  background-color: rgb(157, 255, 127);
}
.game-start-btn:active,
.game-return-btn:active,
.replay:active {
  transform: scale(0.95);
  box-shadow: 2px 2px 5px rgb(255, 255, 255);
  background-color: rgb(248, 114, 114);
  /* color: white;
  background: blue;
  transform: translateY(1px); */
}

.game-container {
  padding: 40px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  flex-wrap: wrap;
  align-items: baseline;
}

.deck {
  margin: 1vh 1vh 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 00px;
  min-height: 600px;
}

.pointer {
  margin: 10vh 18vh 0;
  font-size: 0.9rem;
  color: rgb(17, 255, 0);
}
.card {
  list-style: none;
  width: 130px;
  height: 130px;
  margin: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  perspective: 500px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);
  transform-origin: center;
  transition: all 0.5s;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  position: relative;
  transition: all 0.5s;
  transform-style: preserve-3d;
}

.card-face {
  position: absolute;
  border-radius: 10px;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
}

.front {
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(rgb(112, 112, 216), rgb(51, 51, 51));
  display: grid;
  place-content: center;
  font-size: 5rem;
  border-radius: 1rem;
  backface-visibility: hidden;
  user-select: none;
}

.back {
  background: blueviolet;
  transform: rotateY(180deg);
}

.moji {
  font-size: 5rem;
  line-height: 1.4;
  text-align: center;
}

.card-container.flipped {
  transform: rotateY(180deg);
}

.cant-click-this {
  pointer-events: none;
}

.wrong {
  animation: wrong 0.3s ease-in-out;
}
@keyframes wrong {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(-15deg);
  }
  50% {
    transform: rotate(0);
  }
  75% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(0);
  }
}

.correct {
  animation: correct 0.5s ease-in-out;
}
@keyframes correct {
  0% {
    transform: scaleX(1) scaleY(1);
  }
  50% {
    transform: scaleX(1.15) scaleY(1.1);
  }
  100% {
    transform: scaleX(1) scaleY(1);
  }
}

.tiempo, .timer {
  border: 2px black solid;
  color: antiquewhite;
  padding: 7px;
  box-shadow: 0 0 50px rgb(26, 251, 22);
}

.moves-selector{
  border: 1.5px black solid;
  color: antiquewhite;
  padding: 5px;
  box-shadow: 0 0 50px rgb(26, 251, 22);
  margin-bottom: 20px;

}

/*****************************************************************************************************************************/
/***********                                          MEDIA QUERY PARA MÓVIL                                      ************/
/*****************************************************************************************************************************/

/* HORIZONTAL */

@media screen and (min-width: 481px) and (max-width: 767px) and (orientation: landscape) {
<<<<<<< HEAD
  .game-return-btn, .replay {
    font-size: 10px;
    padding: 7px;
    margin-top: 15px;
=======
  .game-return-btn {
    font-size: 7px;
    padding: 0;
>>>>>>> 6b70d25b7152577a5094f9f59244731ab23a6630
  }

  .game-start-btn {
<<<<<<< HEAD
    font-size: 11px;
    padding: 10px;
    animation: comenzarConBrillo 4s linear infinite;
  }

  @keyframes comenzarConBrillo {
    20% {
      box-shadow: 0 0 20px #ff0000, 0 0 20px #ffea00, 0 0 30px #2600ff;
    }
    50% {
      box-shadow: none;
    }
    100% {
      box-shadow: 0 0 120px #ff0000, 0 0 20px #ffea00, 0 0 30px #1e00ff;
    }
=======
    font-size: 10px;
    padding: 0;
  }
  .replay {
    font-size: 7px;
    padding: 0;
>>>>>>> 6b70d25b7152577a5094f9f59244731ab23a6630
  }

  .pointer {
    font-size: 10px;
    padding: 0px;
    color: rgb(17, 255, 0);
  }

  .card {
    list-style: none;
    width: 60px;
    height: 60px;
    margin: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    perspective: 50px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);
    transform-origin: center;
    transition: all 0.5s;
  }
  .card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    position: relative;
    transition: all 0.5s;
    transform-style: preserve-3d;
  }
  .deck {
    margin: 1vh 1vh 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 350px;
    min-height: 300px;
  }
  .moji {
    font-size: 2.5rem;
    line-height: 2.9rem;
    text-align: center;
  }
<<<<<<< HEAD

  .tiempo, .timer {
    border: 1.5px black solid;
    color: antiquewhite;
    padding: 5px;
    box-shadow: 0 0 50px rgb(26, 251, 22)
  }

  .moves-selector{
    border: 1.5px black solid;
    color: antiquewhite;
    padding: 5px;
    box-shadow: 0 0 50px rgb(26, 251, 22);
    margin-bottom: 20px;

  }
}
=======
  .game-container {
    padding: 10px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    flex-wrap: wrap;
    align-items: baseline;
  }
}
/***** VERTICAL ****/
>>>>>>> 6b70d25b7152577a5094f9f59244731ab23a6630

@media screen and (min-width: 320px) and (max-width: 480px) and (orientation: portrait) {
  .game-return-btn {
    font-size: 7px;
    padding: 0;
    margin: 0;
  }
  .game-start-btn {
    font-size: 6px;
    padding: 0;
    margin: 0;
  }
  .replay {
    font-size: 6px;
    padding: 0;
    margin: 0;
  }
  .pointer {
    font-size: 12px;
    padding: 0;
    color: rgb(17, 255, 0);
    margin-top: 35px;
  }

  .card {
    list-style: none;
    width: 50px;
    height: 50px;
    margin: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    perspective: 50px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);
    transform-origin: center;
    transition: all 0.5s;
  }
  .card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    position: relative;
    transition: all 0.5s;
    transform-style: preserve-3d;
  }
  .deck {
    margin: 1vh 1vh 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 350px;
    min-height: 250px;
  }
  .moji {
    font-size: 2.5rem;
    line-height: 2.9rem;
    text-align: center;
  }
<<<<<<< HEAD

  .tiempo, .timer {
    border: 1.5px black solid;
    color: antiquewhite;
    padding: 5px;
    box-shadow: 0 0 50px rgb(26, 251, 22)
  }

  .moves-selector{
    border: 1.5px black solid;
    color: antiquewhite;
    padding: 5px;
    box-shadow: 0 0 50px rgb(26, 251, 22);
    margin-bottom: 20px;

  }

  .game-start-btn {
    padding: 8px;
    font-size: 8px;
    animation: comenzarConBrillo 4s linear infinite;
  }

  @keyframes comenzarConBrillo {
    20% {
      box-shadow: 0 0 20px #ff0000, 0 0 20px #ffea00, 0 0 30px #2600ff;
    }
    50% {
      box-shadow: none;
    }
    100% {
      box-shadow: 0 0 120px #ff0000, 0 0 20px #ffea00, 0 0 30px #1e00ff;
    }
  }

  .game-return-btn,
  .replay {
    padding: 7px;
    font-size: 6.5px;
    margin-top: 15px;
  }
}
=======
  .game-container {
    padding: 10px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    flex-wrap: wrap;
    align-items: baseline;
  }
}
>>>>>>> 6b70d25b7152577a5094f9f59244731ab23a6630
